node_modules
android/java_pid21527
android/java_pid4948
node_modules
node_modules
android/java_pid4948.hprof
android/java_pid21527.hprof
node_modules
android/.gradle/7.2/executionHistory/executionHistory.bin
